*{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#img-place{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../imgs/Above-the-fold-xlg.png');
    background-repeat: no-repeat;
}

#title{
    font-size: 110px;
    font-family: "Sofia", sans-serif;
    color:  #198754;
    position: absolute;
    z-index: 1;
}

#menuBar{
    height: 80px;
}

#searchBar{
    width: 300px;
}

#searchBar ::-webkit-input-placeholder{
    color: #198754;
}

#searchBar input:focus{
    background-color: #198754;
    color: #fff;
}

#searchBar input:focus::-webkit-input-placeholder{
    color: #fff;
}

li a#listas:hover #dropdown{
    display: flex;
}

li a#homepage i{
    font-size: 20;
}

@media only screen and (min-width: 1400px){
    #title{
        font-size: 130px;
    }

    #img-place{
        background-image: url('../imgs/Above-the-fold-xxlg.png');
    }
}

@media only screen and (max-width: 1200px){
    #title{
        font-size: 90px;
    }

    #img-place{
        background-image: url('../imgs/Above-the-fold-lg.png');
    }

    .navbar-nav > li{
        margin-top: -50px;
    }

    #searchBar{
        top: 60px;
        width: 98.5%;
    }

    #menuBar{
        height: 120px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        margin-top: -15px;
    }
}

@media only screen and (max-width: 1000px){
    #title{
        font-size: 70px;
    }

    #img-place{
        background-image: url('../imgs/Above-the-fold-normal.png');
    }

    .navbar-nav li a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px){
    #title{
        font-size: 60px;
    }

    .navbar-nav > li{
        margin-top: -50px;
    }

    #searchBar{
        top: 60px;
        width: 98%;
    }

    #menuBar{
        height: 120px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px){
    #title{
        font-size: 50px;
    }
    
    #img-place{
        height: 200px;
        background-image: url('../imgs/Above-the-fold-sm.png');
    }

    .navbar-nav > li{
        margin-top: -45px;
    }

    #searchBar{
        top: 45px;
        width: 97%;
    }

    #searchBar input{
        height: 30px;
    }

    #searchBar button{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBar{
        height: 100px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 11px;
    }
}

@media only screen and (max-width: 560px){
    #title{
        font-size: 40px;
    }

    .navbar-nav > li{
        margin-top: -35px;
    }

    #searchBar{
        top: 40px;
        width: 97%;
    }

    #searchBar input{
        height: 20px;
    }

    #searchBar button{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBar{
        height: 80px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px){
    #title{
        font-size: 40px;
    }

    #img-place{
        background-image: url('../imgs/Above-the-fold-xsm.png');
    }

    .navbar-nav > li{
        margin-top: -30px;
    }

    #searchBar{
        top: 30px;
        width: 97%;
    }

    #searchBar input{
        height: 20px;
    }

    #searchBar button{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBar{
        height: 60px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 8px;
    }
}

@media only screen and (max-width: 410px){
    #title{
        font-size: 30px;
    }

    .navbar-nav > li{
        margin-top: -20px;
    }

    #searchBar{
        top: 20px;
        width: 97%;
    }

    #searchBar input{
        height: 15px;
    }

    #searchBar button{
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBar{
        height: 40px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 8px;
    }
}

@media only screen and (max-width: 330px){
    #title{
        font-size: 25px;
    }

    #img-place{
        height: 185px;
        background-image: url('../imgs/Above-the-fold-xxsm.png');
    }

    .navbar-nav > li{
        margin-top: -15px;
    }

    #searchBar{
        top: 8px;
        width: 97%;
    }

    #searchBar input{
        height: 5px;
    }

    #searchBar button{
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBar{
        height: 25px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 5px;
    }
}