#title{
    font-size: 120px;
}

body{
    background-color: black;
}

@media only screen and (max-width: 1200px){
    #title{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1000px){
    #title{
        font-size: 80px;
    }

    .navbar-nav > li{
        margin-top: -50px;
    }

    #searchBar{
        top: 60px;
        width: 98.5%;
    }

    #menuBar{
        height: 120px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #dropdown{
        margin-top: -15px;
    }
}

