#img-place{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#title-place{
    position: absolute;
    color: #000;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

img{
    width: 100%;
    max-height: 300px;
}

#title{
    font-size: 120px;
}

@media only screen and (max-width: 1200px){
    #title{
        font-size: 100px;
    }
}

@media only screen and (max-width: 1000px){
    #title{
        font-size: 80px;
    }

    .navbar-nav > li{
        margin-top: -50px;
    }

    #searchBar{
        top: 60px;
        width: 98.5%;
    }

    #menuBar{
        height: 120px;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu .navbar-nav{
        display: flex;
        flex-direction: row;
    }

    .navbar-nav li a{
        margin-right: 20px;
    }

    #dropdown{
        margin-top: -15px;
    }

    @media only screen and (max-width: 800px){
        #title{
            font-size: 60px;
        }
    
        .navbar-nav > li{
            margin-top: -50px;
        }
    
        #searchBar{
            top: 60px;
            width: 98%;
        }
    
        #menuBar{
            height: 120px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }
    }

    @media only screen and (max-width: 710px){
        #title{
            font-size: 50px;
        }
    
        .navbar-nav > li{
            margin-top: -45px;
        }
    
        #searchBar{
            top: 45px;
            width: 97%;
        }

        #searchBar input{
            height: 30px;
        }

        #searchBar button{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #menuBar{
            height: 100px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }

        .navbar-nav li a{
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 560px){
        #title{
            font-size: 50px;
        }
    
        .navbar-nav > li{
            margin-top: -35px;
        }
    
        #searchBar{
            top: 40px;
            width: 97%;
        }

        #searchBar input{
            height: 20px;
        }

        #searchBar button{
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #menuBar{
            height: 80px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }

        .navbar-nav li a{
            font-size: 10px;
        }
    }

    @media only screen and (max-width: 500px){
        #title{
            font-size: 40px;
        }
    
        .navbar-nav > li{
            margin-top: -30px;
        }
    
        #searchBar{
            top: 30px;
            width: 97%;
        }

        #searchBar input{
            height: 20px;
        }

        #searchBar button{
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #menuBar{
            height: 60px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }

        .navbar-nav li a{
            font-size: 8px;
        }
    }

    @media only screen and (max-width: 410px){
        #title{
            font-size: 30px;
        }
    
        .navbar-nav > li{
            margin-top: -20px;
        }
    
        #searchBar{
            top: 20px;
            width: 97%;
        }

        #searchBar input{
            height: 15px;
        }

        #searchBar button{
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #menuBar{
            height: 40px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }

        .navbar-nav li a{
            font-size: 6px;
        }
    }

    @media only screen and (max-width: 330px){
        #title{
            font-size: 25px;
        }
    
        .navbar-nav > li{
            margin-top: -15px;
        }
    
        #searchBar{
            top: 8px;
            width: 97%;
        }

        #searchBar input{
            height: 5px;
        }

        #searchBar button{
            height: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        #menuBar{
            height: 25px;
        }
    
        #menu{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        #menu .navbar-nav{
            display: flex;
            flex-direction: row;
        }

        .navbar-nav li a{
            margin-right: 20px;
        }
    
        #dropdown{
            position: absolute;
            z-index: 1;
        }

        .navbar-nav li a{
            font-size: 5px;
        }
    }
}