*{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#menuBar{
    height: 80px;
}

#menu{
    display: flex;
    justify-content: row;
    width: 100%;
}

#menu .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

li a{
    display: block;
}

li a#listas:hover ul{
    display: flex;
}

li a#homepage i{
    font-size: 22px;
    transition: 1s;
}

li a#homepage:hover{
    transform: rotate(-10deg);
}

.nav-item > a:hover:not(#listas){
    text-decoration: underline;
}

#searchBar ::-webkit-input-placeholder{
    color: #198754;
}

#searchBar input:focus{
    background-color: #198754;
    color: #fff;
}

#searchBar button i{
    display: flex;
    justify-content: center;
    align-items: center;
}

#definicoes{
    display: flex;
    flex-direction: row;
}

.item{
    height: 30px;
    padding: 0px 5px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
}

.item:hover{
    padding-left: 7px;
    transition: .3s;
}

::-webkit-scrollbar{
    background-color: #00000000;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #198754;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px){
    #menuBar{
        height: 70px;
    }

    .navbar-nav li{
        margin-left: 10px;
    }

    .navbar-nav li a{
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px){
    #menuBar{
        height: 60px;
    }

    #searchBar input, #searchBar button{
        height: 40px;
    }

    #dropdown{
        position: absolute;
        z-index: 1;
    }

    .navbar-nav li a{
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px){
    #menuBar{
        height: 50px;
    }

    #menu{
        margin-top: -4px;
    }

    #searchBar input, #searchBar button{
        height: 30px;
        margin-top: -4px;
    }

    #searchBar input{
        width: 200px;
    }

    li a#homepage i{
        font-size: 18px;
    }

    .navbar-nav li a{
        font-size: 12px;
    }
}

@media only screen and (max-width: 560px){
    #menuBar{
        height: 50px;
    }

    #searchBar input, #searchBar button{
        height: 25px;
    }

    #searchBar input{
        width: 180px;
    }

    #searchBar button i{
        margin-top: -4px;
    }

    .navbar-nav li a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px){
    #menuBar{
        height: 40px;
    }

    #menu{
        margin-top: -10px;
    }

    .navbar-nav li a{
        font-size: 10px;
    }
}

@media only screen and (max-width: 410px){
    #menuBar{
        height: 30px;
    }

    .navbar-nav li a{
        font-size: 8px;
    }
}

@media only screen and (max-width: 330px){
    #menuBar{
        height: 20px;
    }

    .navbar-nav li a{
        font-size: 5px;
    }
}